html, body {
    width: 100%;
    height: 100%;
    padding: 0; margin: 0;
}
#board {
    width: 100%;
    height: 100%;
    padding: 0; margin: 0;
}
#control {
    width: 100%;
    height: 50px;
}
.row {
    height: 20px;
    width: 100%;
    padding: 0; margin: 0;
    border-right: 1px solid black;;
}

.row-last-true .cell {
    border-bottom: 1px solid black;
}
.cell {
    height: 19px;
    width: 19px;

    border-top: 1px solid black;;
    border-left: 1px solid black;
    display: inline-block;
    margin: 0; padding: 0;
    -webkit-transition: background ease-in 0.5s; /* Safari and Chrome */

}
.cell:hover {
    background-color: green;
}

.cell-last {
    border-right: 1px solid black;
}

.alive {
    background-color: black;
}

